
# Containers will run using below user
UID=1000
GID=1000

# Photoprism web app will be mapped to this port
PORT_UI=2342

# Used for UI
APP_TITLE=Gallery
APP_CAPTION=Get inspired and go ahead

# This value is used during first startup to initialize
# photoprism, after first startup can be managed from UI
ADMIN_PASS=

# Database setup
DB_ROOT_PASS=
DB_SERVER=mariadb:3306
DB_NAME=photoprism
DB_USER=photoprism
DB_PASS=


#
# Volumes

# Where all your photos/videos are stored
PATH_ORIGINALS=

# Photprisms will use this for cache, sidecar and runtime data
PATH_STORAGE=

# Base folder from wich files can be imported to originals
PATH_IMPORT=

# Path to database files
PATH_DB=

