# Env files
.env
http_downloader.docker.env
synchronizer.docker.env

# http_downloader config files
gallery-dl.config.json
gallery-dl.conf.json

# synchronizer config
config/synchronizer/sync_scheduler.crontab

