
CERTBOT_EMAIL=
CERTBOT_STAGING=0
CERTBOT_CERTS_PATH=/path/to/workspace/appdata/r1bifrost/sslcerts

# Will be mounted at '/etc/nginx/proxy_pass.conf' inside container
PROXY_PASS_FILE=./proxy_pass.conf

SITES_PATH=./sites
LOGS_PATH=/path/to/workspace/appdata/r1bifrost/logs
UPSTREAM_SSL_CERTS_PATH=/path/to/workspace/appdata/r1bifrost/upstream_ssl_certs

