
TZ=America/Mexico_City
BORG_PASSPHRASE=

SRC_PICTURES=./devdata/src_files/pictures
BORG_LOCAL_REPO_PATH=./devdata/repos/dev-backups
RESTORED_PATH=./devdata/restored_files

BORGMATIC_CFG_PATH=./borgmatic_cfg   # borgmatic config file(s) + crontab.txt
BORG_CFG_PATH=./borg_cfg             # config and keyfiles
BORG_CACHE=./devdata/bogcache        # checksums used for deduplication
SSH_KEYS_PATH=./devdata/sshkeys

# Hooks contains custom scripts that borgmatic executes during backup process
HOOKS_PATH=./hooks/

# RabbitMQ is used for notifications through rterminal
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_API_PORT=15672
RABBITMQ_EXCHANGE=amq.default
RABBITMQ_ROUTING_KEY=INFRASTRUCTURE_NOTIFICATIONS
