
TZ=America/Mexico_City
BORG_PASSPHRASE=

SRC_PICTURES=
BORG_REPO_PATH=

BORGMATIC_CFG_PATH=./borgmatic_cfg  # borgmatic config file(s) + crontab.txt
BORG_CFG_PATH=./borg_cfg            # config and keyfiles
BORG_CACHE=                         # checksums used for deduplication (Runtime data)

RESTORED_PATH=                      # Where files will be restored when needed